body {
  background-color: antiquewhite;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 375px;
  margin-top: 60px;
  height: 718px;
  background-image: url('header-background-mobile.png');
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.box {
  flex-grow: 1;
}

.box2 {
  display: grid;
  justify-content: center;
  padding: 30px;
}

.box-one {
  float: left;
  padding: 15px;
  margin: 10px;
}

.box-two {
  float: right;
  padding: 10px;
  margin: 20px;
  color: blueviolet;
  font-size: larger;
}

.box-one a {
  text-decoration: none;
  color: blueviolet;
}

.box-two a:hover {
  color: red;
  border-radius: 3px;
  border: none;
  transition: all 0.3s ease;
}

.box3 a:hover {
  color: red;
  border-radius: 3px;
  border: none;
  transition: all 0.3s ease;
}

.box3 {
  margin: 40px;
}
